<!doctype html>
<html>
  <head>
    <title>opencnam Lookup</title>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <span>
        Caller ID for <%= recognitionResults['com.solveforall.recognition.UsPhoneNumber'][0].fullNumber %>:
      </span>
      &nbsp;
      <span id="caller_id">
        <i>Loading ...</i>
      </span>
      <br/>
      <br/>
      <div>
        <small>
          Data provided by <a href="https://www.opencnam.com/" target="_top">opencnam</a>.
          <span id="opencnam_tier_info"></span>
        </small>
      </div>
    </div>

    <div id="info_holder"
     data-settings="<%= JSON.stringify(context.settings) %>"
     data-client-kind="<%= context.client.kind %>"
     data-full-number="<%= recognitionResults['com.solveforall.recognition.UsPhoneNumber'][0].fullNumber %>">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>

    <script src="https://dl.dropboxusercontent.com/u/34577952/solveforall/plugins/opencnam/lookup.js"></script>
  </body>
</html>
