<!doctype html>
<html>
  <head>
    <title>opencnam Lookup</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/readable/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <span>
        Caller ID for <%= recognitionResults['com.solveforall.recognition.phone.UsPhoneNumber'][0].fullNumber %>:
      </span>
      &nbsp;
      <span id="caller_id">
        <i>Loading ...</i>
      </span>
      <br/>
      <br/>
      <div>
        <small>
          Data provided by <a href="https://www.opencnam.com/" target="_top">opencnam</a>.
          <span id="opencnam_tier_info"></span>
        </small>
      </div>
    </div>

    <div id="info_holder"
     data-settings="<%= JSON.stringify(context.settings) %>"
     data-client-kind="<%= context.client.kind %>"
     data-full-number="<%= recognitionResults['com.solveforall.recognition.phone.UsPhoneNumber'][0].fullNumber %>">
    </div>
        
    <script src="https://cdn.jsdelivr.net/g/jquery@1.11.2,underscorejs@1.7.0,underscore.string@2.4.0,bootstrap@3.3.2">
    </script>
    
    <script src="https://cdn.rawgit.com/jtsay362/solveforall-example-plugins/master/src/answer_generators/opencnam/lookup.js"></script>
  </body>
</html>
