<!doctype html>
<html>
  <head>
    <title>opencname Settings</title>
  </head>
  <body>
    <p>
      To access the Professional Tier service (unlimited and up-to-date lookups),
      enter your Account SID and Auth Token below. If you don't have this
      information, you need to
      <a href="https://www.opencnam.com/account" target="opencnam">sign up</a>
      first.
    </p>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-xs-2 control-label">Account SID</label>
        <div class="col-xs-4">
          <input name="accountSid" type="text"
           value="<%= settings.accountSid || '' %>" class="form-control">
        </div>
      </div>
            
      <div class="form-group">
        <label class="col-xs-2 control-label">Auth Token</label>
        <div class="col-xs-4">
          <input name="authToken" type="text"
           value="<%= settings.authToken || '' %>" class="form-control">      
        </div>
      </div>
    
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-2">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i>&nbsp;Save
          </button>
        </div>
      </div>    
      
    </form>
  </body>
</html>