<html>
  <head>
  </head>
  <body>
    <% if ((q.length > 20) || /\n\r/.test(q)) { %>                
      <p>HTML unescaping</p>      
      <pre><%= q %></pre>    
      <p>yields</p>
      <pre><%= _.unescapeHTML(q) %></pre>        
    <% } else { %>
      <p>unescapeHTML(<code><%= q %></code>) == <code><%= _.unescapeHTML(q) %></code></p>
    <% } %>    
  </body>
</html>