<html>
  <head>
  </head>
  <body>
    <% if ((q.length > 20) || /\n\r/.test(q)) { %>
      <p>HTML escaping</p>
      <pre><%= q %></pre>
      <p>yields</p>
      <pre><%= _.escape(q) %></pre>
    <% } else { %>
      <p>escapeHTML(<code><%= q %></code>) == <code><%= _.escape(q) %></code></p>
    <% } %>
  </body>
</html>
