<%
let ans = recognitionResult ? recognitionResult.doubleValue.toPrecision(8) : '0';
ans = ans.replace(/(\.\d*?[1-9])0+$/, '$1').replace(/\.0*$/, '');

let computation;
if (q && /^[\-+]?((\d+(\.\d*)?)|(\.\d+))([Ee][\-+]?\d+)?$/.test(q)) {
  computation = null;
} else if (recognitionResult && recognitionResult.expression) {
  computation = recognitionResult.expression;
} else if (q) {
  computation = q.trim();
}

const height = (computation === null) ? 230 : 257;
%>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Calculator</title>
    <meta name="com.solveforall.meta.answer.min_height"
          content="<%- height %>">
    <meta name="com.solveforall.meta.answer.preferred_height"
          content="<%- height %>">

    <link rel="stylesheet" type="text/css"
     href="https://cdn.rawgit.com/jtsay362/solveforall-example-plugins/4d66b5b3/build/answer_generator_content/calculator/styles/ideadeviate_calculator.css" />
</head>
<body class="body">
  <% if (computation) { %>
  <div class="expression_holder">
    <div class="expression"><%= computation %> =</div>
  </div>
  <% } %>
  <div id="calculator" class="calculator demo">
      <div class="u4 display">
         <div class="display-inner">
           <div id="display" class="display-text"><%= ans %></div>
         </div>
      </div>
      <button id="calculator-button-clear" class="u1 button button-red">c</button>
      <button id="calculator-button-backspace" class="u1 button button-backspace button-gray">&#x21e4;</button>
      <button id="calculator-button-negate" class="u1 button button-gray">&#xb1;</button>
      <button id="calculator-button-divide" class="u1 button button-gray">&div;</button>
      <button id="calculator-button-7" class="u1 button button-gray">7</button>
      <button id="calculator-button-8" class="u1 button button-gray">8</button>
      <button id="calculator-button-9" class="u1 button button-gray">9</button>
      <button id="calculator-button-multiply" class="u1 button button-gray">x</button>
      <button id="calculator-button-4" class="u1 button button-gray">4</button>
      <button id="calculator-button-5" class="u1 button button-gray">5</button>
      <button id="calculator-button-6" class="u1 button button-gray">6</button>
      <button id="calculator-button-minus" class="u1 button button-gray">-</button>
      <button id="calculator-button-1" class="u1 button button-gray">1</button>
      <button id="calculator-button-2" class="u1 button button-gray">2</button>
      <button id="calculator-button-3" class="u1 button button-gray">3</button>
      <button id="calculator-button-plus" class="u1 button button-gray">+</button>
      <button id="calculator-button-0" class="u2 button button-gray">0</button>
      <button id="calculator-button-dot" class="u1 button button-gray">.</button>
      <button id="calculator-button-equal" class="u1 button button-blue">=</button>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js">
  </script>

  <script type="text/javascript"
   src="https://cdn.rawgit.com/jtsay362/solveforall-example-plugins/4d66b5b3/build/answer_generator_content/calculator/scripts/calculator.js">
  </script>
</body>
</html>
