#map_column {
  padding-left: 0;
  padding-right: 0;
}
.map {
  height: 100%;
  width: 100%;
}
.ol-attribution {
  max-width: calc(100% - 3em);
}
.ol-control button, .ol-attribution, .ol-scale-line-inner {
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}

#tags {
  display: none;
}

#popup {
  padding-bottom: 45px;
}

.popover {
  width: 350px;
}
