<%
  const SparkMD5 = require('spark-md5');
%>
<html>
  <head>
  </head>
  <body>
    <p>The MD5 checksum of</p>
    <pre><%= q %></pre>
    <p>is</p>
    <pre><%= SparkMD5.hash(q) %></pre>
  </body>
</html>
