<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
     href="https://dl.dropboxusercontent.com/u/34577952/solveforall/plugins/mathjs/css/commandline.css">
  </head>
  <body>
    <div id="commandline"></div>
    <br/>
    <small>Powered by <a href="http://mathjs.org/">MathJS</a>.</small>

    <div id="data_to_transfer"
     data-expr="<%= (recognitionResult && recognitionResult.expression) ? recognitionResult.expression : q.trim() %>">
    </div>

    <script type="text/javascript" src="https://dl.dropboxusercontent.com/u/34577952/solveforall/plugins/mathjs/scripts/mathjs.js"></script>
  </body>
</html>
