<%
function isNonBlankString(s) {
  return s && (s.trim().length > 0);
}

var address = null;

try {
  var recognitionResult = recognitionResults['com.solveforall.recognition.location.UsAddress'][0];

  var address = recognitionResult.streetAddress || '';

  var city = recognitionResult.city;
  if (isNonBlankString(city)) {
    if (address.length > 0) {
      address += ', ';
    }

    address += city;
  }

  var state = recognitionResult.stateAbbreviation;
  if (isNonBlankString(state)) {
    if (address.length > 0) {
      address += ', ';
    }

    address += state;
  }

  var zipCode = recognitionResult.zipCode;
  if (isNonBlankString(zipCode)) {
    if (address.length > 0) {
      address += ' ';
    }
    address += zipCode;
  }
} catch (e) {
  console.log('Recognition result not found, falling back to query');
  address = q;
}

var settings = context.settings || {};
%>

<!DOCTYPE html>
<html>
<head>
  <title>Google Maps</title>

  <style>
       html { height: 100% }
       body { height: 100%; margin: 0px; padding: 0px }
       #map_canvas { height: 20% }
  </style>
</head>

<body>
  <section style="width:100%; height:100%" >
    <div id="map_canvas" style="width:100%; height:100%"></div>
  </section>

  <div id="data" data-address="<%= address %>"
   data-zoom="<%= (settings.zoomLevel || 15) %>"
   data-map-type="<%= (settings.mapType || 'roadmap') %>"
   data-tilt="<%= (settings.tilt || 'true') %>"
  ></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
  </script>

  <script src="https://maps.google.com/maps/api/js?sensor=false"></script>

  <script type="text/javascript">
  $(function () {
    var map;
    var geocoder;
    var targetLatLng;
    var targetMarker;
    var infoWindow;

    function updateLocation(position) {
      var start = new google.maps.LatLng(parseFloat(position.coords.latitude),
        parseFloat(position.coords.longitude));

      map.setCenter(start);
    }

    var zoom = 15;

    try {
      zoom = parseInt($('#data').attr('data-zoom') || '15');
    } catch (e) {
      console.error('Can\'t parse zoom: "' + settings.zoom + '"');
    }

    var mapType = $('#data').attr('data-map-type');

    if (mapType.length == 0) {
      mapType = 'roadmap';
    }

    var mapTypeId = google.maps.MapTypeId[mapType.toUpperCase()] ||
      google.maps.MapTypeId.ROADMAP;

    var myOptions = {
      zoom: zoom,
      //center: targetLatLng,
      mapTypeId: mapTypeId
    };

    map = new google.maps.Map($('#map_canvas').get(0), myOptions);

    infoWindow = new google.maps.InfoWindow();

    geocoder = new google.maps.Geocoder();

    var address = $('#data').attr('data-address');

    geocoder.geocode({
      address: address
    }, function (results, status) {
      if ((status == google.maps.GeocoderStatus.OK) && (results.length > 0) &&
          results[0].geometry && results[0].geometry.location) {
        targetLatLng = results[0].geometry.location;
        map.setCenter(targetLatLng);

        targetMarker = new google.maps.Marker({
          position: targetLatLng,
          map: map,
          title: address,
          animation: google.maps.Animation.DROP
        });

        infoWindow.setContent(address);
        infoWindow.open(map, targetMarker);

        google.maps.event.addListener(targetMarker, 'click', function() {
           infoWindow.setContent(address);
           infoWindow.open(map, targetMarker);
        });

        if (($('#data').attr('data-tilt') === 'false') &&
            ((mapTypeId === google.maps.MapTypeId.SATELLITE) ||
             (mapTypeId === google.maps.MapTypeId.HYBRID))) {
          map.setTilt(0);
        }
      } else {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(updateLocation);
        }
      }
    });

  /*
      if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(updateLocation);
      } */
  });
  </script>
</body>
</html>
