<%
var mapTypeValues = ['ROADMAP', 'SATELLITE', 'HYBRID', 'TERRAIN'];
var mapTypeLabels = ['Road map', 'Satellite', 'Hybrid', 'Terrain'];
var selectedMapType = settings.mapType || 'ROADMAP';
var savedZoomLevel = settings.zoomLevel || '15';
var savedTilt = settings.tilt || 'true';
%>

<!doctype html>
<html>
  <head>
    <title>Google Maps Settings</title>
  </head>
  <body>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="input_map_type" class="col-xs-4 control-label">Map Type</label>
        <div class="col-xs-8">
          <select id="input_map_type" name="mapType" class="form-control">
            <% for (var i = 0; i < mapTypeValues.length; i++) { %>
              <option value="<%= mapTypeValues[i] %>"
                <% if (mapTypeValues[i] === selectedMapType) { %>
                  selected
                <% } %>
              ><%= mapTypeLabels[i] %></option>
            <% } %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="input_zoom_level" class="col-xs-4 control-label">Zoom Level</label>
        <div class="col-xs-4">
          <input id="input_zoom_level" name="zoomLevel" type="number" min="0" max="30"
           value="<%= savedZoomLevel %>" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="input_tilt" class="col-xs-4 control-label">Tilt</label>
        <div class="col-xs-4">
          <input id="input_tilt" name="tilt" type="checkbox" value="true" class="form-control"
            <% if (savedTilt === 'true') { %>
              checked
            <% } %>
           />
        </div>
      </div>
    </form>
  </body>
</html>
