<%
  var matchedText = q;

  try {
    matchedText = recognitionResults['com.solveforall.recognition.programming.Xml'][0].matchedText;
  } catch (e) {
    ;
  }

  var parseErrorMessage = null;
  var formatted = null;
  try {
    var toParse = matchedText.replace(/^<\?[^?]+\?>/, '');
    // FIXME: doesn't handle - in comments
    toParse = toParse.replace(/<!--[^\-]*-->/, '');      
    
    var xml = new XML(toParse);
    formatted = xml.toXMLString();
  } catch (e) {    
    if (e instanceof TypeError) {
      parseErrorMessage = e.message;
    }   
  }
%>
<!doctype html>
<html>
  <head>
    <title>XML Formatter</title>    
  </head>
  <body>
    <% if (formatted) { %>
    <div><i class="fa fa-check"></i> <em style="color: green">Valid XML</em></div>
    <div style="margin-top: 15px">
      <pre>
<%= formatted %>
</pre>
    </div>
    <% } else { %>
    <div><i class="fa fa-times-circle"></i> <em style="color: red">Invalid XML</em></div>
    <div style="margin-top: 15px">
      <pre>
<%= matchedText %>
</pre>
    <div>
    <%= parseErrorMessage || 'Unknown error' %>        
    </div>        
    <% } %>
  </body>
</html>
