<%
const VERSIONS =  ['2.5.1', '2.6.1', '2.7.7', '2.8.2', '2.9.0.1', '2.9.3',
  '2.10.4', '2.11.7', 'current'];
const selectedVersion = settings.version || 'current';
%>
<!doctype html>
<html>
  <head>
    <title>Scaladoc Answer Generator Settings</title>
  </head>
  <body>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="version_input" class="col-xs-4 control-label">Scala Version</label>
        <div class="col-xs-4">
          <select id="version_input" name="version" class="form-control">
            <% for (let i = 0; i < VERSIONS.length; i++) { %>
                <option
                <% if (selectedVersion === VERSIONS[i]) { %>
                     selected="selected"
                <% } %>
                >
                <%= VERSIONS[i] %>
                </option>
            <% } %>
          </select>
        </div>
      </div>
    </form>
  </body>
</html>
